@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Space Mono','Inconsolata', monospace; ;
}

section{
    width: 80%;
    margin: auto;
}

h2 {
    font-family: 'Inconsolata';
    margin: 10px 0 30px;
    color: #333333;
    font-weight: 700;
    font-size: 20px;

}

.main-section {
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;

}

img {
    width: 300px;
}

h1 {
    font-family: 'Space Mono';
    font-size: 48px;
    color: #333333;
    margin-bottom: 15px;
}

p {
    color: #333333;
    font-family: 'Space Mono';
    font-size: 18px;
    
}

.box {
    background-color: #333333;
    width: 60%;
    font-family: 'Space Mono';
    color: white;
    padding: 15px;
    font-size: 13px;
    text-align: center;
    margin: 50px 0px 100px;
    font-weight: 700;
}


h4 {
    color: #333333;
    width: 100%;
    text-align: center;
}


@media screen  and (min-width:750px){
    .main-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .img-section {
        width: 40%;
    }
    img {
        width: 380px;
    }

    h1 {
        font-size: 64px;
    }

    .text-section{
        padding-top: 150px;
        margin-left: 50px;
        width: 60%;
    }

    p{
        padding-right: 150px;
        font-size: 24px;
    }

    .box {
        width: 35%;
        padding: 20px 10px;
        font-size: 16px;
    }

    

}

@media screen  and (min-width:1000px){

    .main-section {
        width: 95%;
        justify-content: space-around;
    }

    img{
        padding-right: 40px;
    }

    h1 {
        font-size: 45px;
    }

    p {
        padding-right: 70px;
    }

    .box {
        font-size: 14px;
        width: 40%;;
    }

}